.navbar {
  text-align: center;
  background-color: #1F2833;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px; 
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #4dcaf8; 
}

body {
    color: #1F2833;
}

#apMap {
  width: 100%;
  height: 250px;
}

#mapP1 {
  height: 250px;
  width: 100%;
}